
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-Mmf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-d2n9-V7B {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    background-color: #140047;
    flex-shrink: 0;
    margin-bottom: 6.1rem;
    padding: 5.7rem 15.2rem 6.6rem 16.25rem;
    width: 100%;
    flex-direction: column;

    .auto-group-pv6q-PTT {
      width: 100%;
      height: 3.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 12.9rem;

      .auto-group-p4d3-KM7 {
        padding: 0.5rem 36.9rem 0rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-10-3nu {
          align-items: center;
          flex-shrink: 0;
          margin: 0.9rem 18.65rem 0.8rem 0rem;
          height: calc(100% - 1.7002rem);
          display: flex;

          .home-yAm {
            white-space: nowrap;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.25;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.5rem;
          }
          .projects-UtD {
            line-height: 1.25;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.35rem;
            text-align: center;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
          .blogs-ne1 {
            text-align: center;
            font-weight: 400;
            line-height: 1.25;
            color: #ffffff;
            margin-right: 5.35rem;
            font-size: 1.2rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-vER {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.25;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .group-5-FnV {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-4-QQV {
            width: 3.3001rem;
            height: 2.6334rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.5185rem;
          }
          .vector-9N5 {
            flex-shrink: 0;
            margin-top: 0.0918rem;
            width: 7.8811rem;
            height: 3.1083rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .frame-GxV {
        height: 100%;
        font-size: 1.1rem;
        font-family: Roboto, 'Source Sans Pro';
        text-align: center;
        align-items: center;
        background-color: #fdb600;
        line-height: 1.1725;
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        width: 14rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        border-radius: 10rem;
      }
    }
    .about-lion-pro-dev-kMs {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.05rem 4.5rem 0rem;
      text-align: center;
      font-size: 5.5rem;
      letter-spacing: -0.11rem;
      font-weight: 500;
      line-height: 1.0948047985;
    }
    .our-agencys-core-values-are-honesty-integrity-and-professionalism-we-strive-to-maintain-open-and-transparent-communication-with-our-clients-throughout-the-development-process-ensuring-that-their-input-is-valued-and-incorporated-into-the-final-product-we-take-pride-in-building-lasting-relationships-with-our-clients-and-working-together-to-achieve-their-online-goals-whether-youre-a-small-start-up-or-a-large-corporation-our-development-agency-has-the-skills-and-expertise-to-bring-your-vision-to-life-we-look-forward-to-working-with-you-and-helping-you-achieve-success-in-the-digital-world-qPK {
      max-width: 85.8rem;
      font-size: 1.6rem;
      line-height: 1.0948047638;
      letter-spacing: -0.032rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 3.45rem;
      text-align: center;
      font-weight: 300;
      color: #ffffff;
    }
  }
  .meet-our-team-UKo {
    line-height: 1.0948047638;
    font-family: Roboto, 'Source Sans Pro';
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.096rem;
    color: #000000;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 3rem;
    font-size: 4.8rem;
  }
  .auto-group-hjwh-nbP {
    margin: 0rem 22.222rem 5.9rem 22.222rem;
    width: calc(100% - 44.4444rem);
    height: 35.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-39-hTT {
      width: 23.5556rem;
      height: 100%;
      border-radius: 3rem;
      flex-shrink: 0;
      margin-right: 1.7777rem;

      .auto-group-ww3s-ETP {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 31.2rem;
        position: relative;

        .rectangle-15-a1T {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3rem;
          width: 23.5556rem;
          height: 26.9333rem;
        }
        .rectangle-16-HwT {
          vertical-align: top;
          border-radius: 3rem;
          width: 23.5556rem;
          height: 31.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
      }
      .michael-sanchez-1sT {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.0948047638;
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.4rem 1.478rem;
      }
      .full-stack-web-developer-iWy {
        line-height: 1.0948047638;
        letter-spacing: -0.026rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.4777rem;
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
    .group-40-RwB {
      height: 100%;
      border-radius: 3rem;
      flex-shrink: 0;
      margin-right: 1.7777rem;
      width: 23.5556rem;

      .auto-group-bq9f-NLd {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 31.2rem;
        position: relative;

        .rectangle-15-ifP {
          vertical-align: top;
          border-radius: 3rem;
          width: 23.5556rem;
          height: 26.9333rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .rectangle-16-SrH {
          position: relative;
          left: 0;
          top: 0;
          background-size: 132.453% 100%;
          background-image: url('REPLACE_IMAGE:0f4714945b4065a702022177b956e973a5fa7f01');
          border-radius: 3rem;
          width: 23.5556rem;
          height: 31.2rem;
        }
      }
      .pedro-m-matar-Xcq {
        line-height: 1.0948047638;
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.4rem 1.544rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .lorem-ipsum-dolor-sit-F33 {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.0948047638;
        letter-spacing: -0.026rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.5444rem;
      }
    }
    .group-41-mGH {
      margin-right: 1.7778rem;
      width: 23.5556rem;
      height: 100%;
      border-radius: 3rem;
      flex-shrink: 0;

      .auto-group-vlrh-trh {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 31.2rem;
        position: relative;

        .rectangle-15-2CD {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3rem;
          width: 23.5556rem;
          height: 26.9333rem;
        }
        .rectangle-16-iqj {
          position: relative;
          left: 0;
          top: 0;
          background-size: 132.453% 100%;
          background-image: url('REPLACE_IMAGE:3c1d015284fc0eb7f9f9ee9e0d132a0fc2983a44');
          border-radius: 3rem;
          width: 23.5556rem;
          height: 31.2rem;
        }
      }
      .philip-cutting-QyT {
        font-weight: 500;
        line-height: 1.0948047638;
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.4rem 1.511rem;
        font-size: 1.5rem;
      }
      .lorem-ipsum-dolor-sit-jVw {
        line-height: 1.0948047638;
        letter-spacing: -0.026rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.5111rem;
        font-size: 1.3rem;
        font-weight: 300;
      }
    }
    .group-42-rKf {
      border-radius: 3rem;
      flex-shrink: 0;
      width: 23.5556rem;
      height: 100%;

      .auto-group-mfim-c3w {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 31.2rem;
        position: relative;

        .rectangle-15-kfw {
          width: 23.5556rem;
          height: 26.9333rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3rem;
        }
        .rectangle-16-hLH {
          position: relative;
          left: 0;
          top: 0;
          background-size: 132.453% 100%;
          background-image: url('REPLACE_IMAGE:47ae57263de40af643258d9ad1e57c055a66e0df');
          border-radius: 3rem;
          width: 23.5556rem;
          height: 31.2rem;
        }
      }
      .alvin-DJd {
        white-space: nowrap;
        margin: 0rem 0rem 0.4rem 1.478rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.0948047638;
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .lorem-ipsum-dolor-sit-KsT {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.4777rem;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.0948047638;
        letter-spacing: -0.026rem;
      }
    }
  }
  .auto-group-wyem-SBP {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #140047;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.4rem 16.001rem 5.9rem 16rem;
    width: 100%;

    .auto-group-1tmj-LXf {
      margin-bottom: 6.1998rem;
      width: 100%;
      height: 3.5002rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-18-sXb {
        margin: 0.3rem 19.8rem 0rem 0rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-4-D5f {
          margin-right: 0.5185rem;
          width: 3.3001rem;
          height: 2.6334rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-wnM {
          width: 7.8811rem;
          height: 3.1084rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0918rem;
        }
      }
      .frame-22-fyF {
        column-gap: 5.1rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0.7rem 19.1rem 0.8rem 0rem;
        height: calc(100% - 1.5002rem);
        display: flex;

        .about-us-nny {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .blog-jTK {
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .terms-conditions-5XB {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .privacy-policy-DdP {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
        }
      }
      .frame-21-m97 {
        margin-bottom: 0.3002rem;
        box-sizing: border-box;
        padding: 0.244rem 0.256rem 0.244rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-4P7 {
          margin-right: 1.9rem;
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-acM {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.156rem;
          width: 2.7993rem;
          height: 2.7118rem;
        }
        .icons8-tiktok-1-iiZ {
          flex-shrink: 0;
          width: 2.688rem;
          height: 2.688rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-19-3kq {
      margin: 0rem 33.599rem 8.5rem 33.7rem;
      width: calc(100% - 67.2993rem);
      height: 5.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .subscribe-now-xso {
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-nln9-goo {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.7rem;
        height: 100%;

        .your-email-RWV {
          font-weight: 400;
          line-height: 1.25;
          color: #7e7e7e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 13.5rem;
          font-size: 1.6rem;
        }
        .auto-group-ijdb-ADB {
          border-radius: 0 1rem 1rem 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 2.1rem;
          height: 100%;
          background-color: #fdb600;

          .polygon-1-78R {
            object-fit: contain;
            vertical-align: top;
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }
    }
    .group-50-Cff {
      margin: 0rem 47.799rem 0rem 46.1rem;
      width: calc(100% - 93.8993rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .vector-83X {
        width: 1.5rem;
        height: 1.6398rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
      .all-rights-reserved-s17 {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
      }
    }
  }
}
