
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blogs-H7K {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-jzvh-QSq {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.7rem 15.2rem 4.9rem 15.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-yw41-JHK {
      width: calc(100% - 1.15rem);
      height: 3.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 12.9rem 1.15rem;

      .auto-group-hdbj-bnD {
        box-sizing: border-box;
        padding: 0.5rem 36.9rem 0rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-10-8n9 {
          margin: 0.9rem 18.65rem 0.8rem 0rem;
          height: calc(100% - 1.7002rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-G7f {
            text-align: center;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            flex-shrink: 0;
            margin-right: 4.5rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.2rem;
          }
          .projects-m4R {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.35rem;
            line-height: 1.25;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            text-align: center;
            font-size: 1.2rem;
          }
          .blogs-fvV {
            text-align: center;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.35rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.25;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .about-bZF {
            line-height: 1.25;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .group-5-LWq {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-4-toF {
            flex-shrink: 0;
            margin-right: 0.5186rem;
            width: 3.3rem;
            height: 2.6334rem;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-dVw {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0918rem;
            width: 7.8811rem;
            height: 3.1083rem;
            object-fit: contain;
          }
        }
      }
      .frame-mMF {
        justify-content: center;
        background-color: #fdb600;
        text-align: center;
        color: #000000;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.1725;
        white-space: nowrap;
        width: 14rem;
        font-size: 1.1rem;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        align-items: center;
        border-radius: 10rem;
        height: 100%;
        text-transform: uppercase;
      }
    }
    .our-blogs-FXK {
      font-size: 5.5rem;
      font-weight: 500;
      line-height: 1.0948047985;
      letter-spacing: -0.11rem;
      color: #140047;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.3rem 0.1rem;
      flex-shrink: 0;
      text-align: center;
    }
    .check-out-our-resources-offering-tips-and-case-studies-for-android-development-9sb {
      letter-spacing: -0.04rem;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      line-height: 1.0948047638;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 6.9rem 0.2rem;
      font-weight: 300;
    }
    .frame-33-pyj {
      margin: 0rem 34.5rem 6.3rem 34.6rem;
      width: calc(100% - 69.1rem);
      height: 2.5rem;
      display: flex;
      column-gap: 3.7rem;
      align-items: flex-start;
      flex-shrink: 0;

      .group-30-8zR {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .vector-hGq {
          margin-right: 0.925rem;
          width: 1.875rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .featured-eC5 {
          text-align: center;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 1.5rem;
          line-height: 1.25;
          color: #a664fa;
          white-space: nowrap;
        }
      }
      .group-31-mGh {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-vQV {
          margin-right: 1.5125rem;
          width: 2.1875rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .developer-guides-fcy {
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.25;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 500;
          color: #000000;
          margin-bottom: 0.2rem;
          text-align: center;
        }
      }
      .group-32-BrD {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .vector-MEu {
          width: 2.7rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.4rem;
        }
        .case-studies-Vc1 {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.25;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-r1xy-puB {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.8rem 2.4rem 0rem;
      height: 30.3rem;

      .group-33-k29 {
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        width: 36rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(20, 0, 71, 0.6999999881);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:793c67e608310bacf12f3f9ab85df5e296d3c639');
        border-radius: 5rem;
        margin-right: 2.9rem;
        box-sizing: border-box;
        flex-shrink: 0;

        .case-study-edK {
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          margin-bottom: 7.2rem;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .trial-development-NJR {
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-JC5 {
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 3.7rem;
          max-width: 26rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
        }
        .read-now-zah {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-34-Psj {
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        width: 36rem;
        background-color: rgba(20, 0, 71, 0.6899999976);
        background-image: url('REPLACE_IMAGE:c1b0f509b096f56e54c7274910ea6155acb878e6');
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 2rem;
        box-sizing: border-box;
        background-size: 177.083% 117.822%;
        background-position: -15.3335rem -2.5984rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .article-Ff3 {
          letter-spacing: -0.03rem;
          text-transform: uppercase;
          line-height: 1.0948047638;
          font-size: 1.5rem;
          font-weight: 500;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
        }
        .philip-cutting-krh {
          margin-bottom: 4.4rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .design-what-to-see-V3b {
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-11w {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 3.7rem;
          max-width: 26rem;
        }
        .read-now-tbX {
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .group-34-Psj-bg {
          width: 36rem;
          height: 30.3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:c1b0f509b096f56e54c7274910ea6155acb878e6');
        }
      }
      .group-35-uWd {
        box-sizing: border-box;
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        width: 36rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-size: 177.083% 117.822%;
        background-image: url('REPLACE_IMAGE:272416cfb80c7e62c7e27b912d406c7de886a541');
        background-color: rgba(20, 0, 71, 0.6999999881);
        background-position: -12.7479rem -1.6458rem;
        border-radius: 5rem;
        flex-shrink: 0;

        .article-2LM {
          margin-bottom: 1.1rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #bbbaba;
          white-space: nowrap;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          text-transform: uppercase;
          font-family: Roboto, 'Source Sans Pro';
        }
        .philip-cutting-9Qy {
          margin-bottom: 3rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .figma-images-to-play-with-Uy3 {
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 0.8rem;
          max-width: 22.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-zgV {
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 2.8rem;
          max-width: 26rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
        }
        .read-now-hqo {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-35-uWd-bg {
          position: relative;
          background-image: url('REPLACE_IMAGE:272416cfb80c7e62c7e27b912d406c7de886a541');
          width: 36rem;
          height: 30.3rem;
        }
      }
    }
    .auto-group-lhz7-Xpq {
      width: calc(100% - 1.7rem);
      height: 30.3rem;
      display: flex;
      column-gap: 2rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.8rem 4.9rem 0.9rem;

      .group-36-EjF {
        width: 36rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(20, 0, 71, 0.6999999881);
        background-position: center;
        border-radius: 5rem;
        box-sizing: border-box;
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:793c67e608310bacf12f3f9ab85df5e296d3c639');
        flex-shrink: 0;

        .case-study-NKf {
          text-transform: uppercase;
          color: #bbbaba;
          white-space: nowrap;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 7.2rem;
          font-size: 1.5rem;
        }
        .trial-development-VfB {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          color: #ffffff;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-2QD {
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 3.7rem;
          max-width: 26rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
        }
        .read-now-8CM {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
          text-transform: uppercase;
        }
      }
      .group-37-o3b {
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        background-size: 177.083% 117.822%;
        background-image: url('REPLACE_IMAGE:c1b0f509b096f56e54c7274910ea6155acb878e6');
        box-sizing: border-box;
        width: 36rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(20, 0, 71, 0.6899999976);
        background-position: -15.3335rem -2.5984rem;
        border-radius: 5rem;
        flex-shrink: 0;

        .article-Wih {
          color: #bbbaba;
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          text-transform: uppercase;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.5rem;
        }
        .philip-cutting-pzH {
          white-space: nowrap;
          margin-bottom: 4.4rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
        }
        .design-what-to-see-YfP {
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-gFo {
          margin-bottom: 3.7rem;
          max-width: 26rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
        }
        .read-now-BTT {
          text-transform: uppercase;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
        }
        .group-37-o3b-bg {
          width: 36rem;
          height: 30.3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:c1b0f509b096f56e54c7274910ea6155acb878e6');
        }
      }
      .group-38-Qb7 {
        width: 36rem;
        background-size: 177.083% 117.822%;
        background-image: url('REPLACE_IMAGE:272416cfb80c7e62c7e27b912d406c7de886a541');
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.4rem 5.8rem 4.4rem 4.2rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(20, 0, 71, 0.6999999881);
        background-position: -12.7479rem -1.6458rem;

        .article-8n1 {
          margin-bottom: 1.1rem;
          line-height: 1.0948047638;
          color: #bbbaba;
          white-space: nowrap;
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: -0.03rem;
          text-transform: uppercase;
          font-family: Roboto, 'Source Sans Pro';
        }
        .philip-cutting-TpH {
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
        }
        .figma-images-to-play-with-bfb {
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 0.8rem;
          max-width: 22.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.0948047638;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-ultrices-morbi-diam-turpis-WnZ {
          letter-spacing: -0.03rem;
          color: #bbbaba;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 2.8rem;
          max-width: 26rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.0948047638;
        }
        .read-now-Dws {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.0948047638;
          letter-spacing: 0.128rem;
          text-transform: uppercase;
          color: #ffffff;
        }
        .group-38-Qb7-bg {
          width: 36rem;
          height: 30.3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:272416cfb80c7e62c7e27b912d406c7de886a541');
        }
      }
    }
    .frame-39-F7s {
      flex-shrink: 0;
      margin: 0rem 52.15rem 0rem 52.2rem;
      width: calc(100% - 104.35rem);
      display: flex;
      align-items: center;

      .item-1-Mwb {
        margin-right: 2.95rem;
        font-size: 2rem;
        flex-shrink: 0;
        white-space: nowrap;
        text-align: center;
        font-weight: 900;
        line-height: 1.0948047638;
        letter-spacing: -0.04rem;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
      }
      .item-2-tAq {
        text-align: center;
        font-weight: 300;
        letter-spacing: -0.04rem;
        margin-right: 3rem;
        font-size: 2rem;
        line-height: 1.0948047638;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-3-CSR {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.0948047638;
        letter-spacing: -0.04rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-bd5p-XDo {
    background-color: #140047;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.4rem 16.001rem 5.9rem 16rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-shwm-e3X {
      width: 100%;
      height: 3.5002rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 6.1998rem;

      .group-18-ahs {
        margin: 0.3rem 19.8rem 0rem 0rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-4-vFw {
          margin-right: 0.5186rem;
          width: 3.3rem;
          height: 2.6334rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-Tmf {
          margin-top: 0.0918rem;
          width: 7.8811rem;
          height: 3.1084rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-22-QS1 {
        column-gap: 5.1rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0.7rem 19.1rem 0.8rem 0rem;
        height: calc(100% - 1.5002rem);
        display: flex;

        .about-us-vfF {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .blog-sKb {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .terms-conditions-DeM {
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .privacy-policy-AZb {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
        }
      }
      .frame-21-7Dw {
        box-sizing: border-box;
        padding: 0.244rem 0.256rem 0.244rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.3002rem;

        .frame-qfj {
          margin-right: 1.9rem;
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-NvZ {
          flex-shrink: 0;
          margin-right: 2.156rem;
          width: 2.7993rem;
          height: 2.7118rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .icons8-tiktok-1-7t9 {
          height: 2.688rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.688rem;
        }
      }
    }
    .group-19-TSD {
      height: 5.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 33.599rem 8.5rem 33.7rem;
      width: calc(100% - 67.2993rem);

      .subscribe-now-amj {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
      }
      .auto-group-kpr7-vah {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .your-email-GPf {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 13.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #7e7e7e;
        }
        .auto-group-pjuy-QEy {
          box-sizing: border-box;
          padding: 2rem 2.1rem;
          height: 100%;
          background-color: #fdb600;
          border-radius: 0 1rem 1rem 0;
          flex-shrink: 0;

          .polygon-1-Yry {
            vertical-align: top;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
          }
        }
      }
    }
    .auto-group-fjc9-TDF {
      width: calc(100% - 93.8993rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 47.799rem 0rem 46.1rem;

      .vector-Bf3 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 1.5rem;
        height: 1.6398rem;
      }
      .all-rights-reserved-KmF {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
