
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17.944rem;
}.group-4-9DF {
  align-items: center;
  width: 100%;
  display: flex;

  .group-2-GHs {
    background-position: center;
    background-image: url('REPLACE_IMAGE:91:33');
    flex-shrink: 0;
    margin: 0rem 0.874rem 0rem 0rem;
    height: 13.8843rem;
    background-size: cover;
    background-repeat: no-repeat;

    .subtract-apM {
      width: 8.5351rem;
      height: 12.6013rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .group-1-WT7 {
    background-image: url('REPLACE_IMAGE:91:24');
    box-sizing: border-box;
    background-size: cover;
    height: 13.8842rem;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    margin-bottom: 0rem;
    padding-top: 1.2829rem;

    .subtract-e3X {
      height: 12.6013rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.5351rem;
    }
  }
}
