
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage2-mQZ {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 395.7rem;

  .auto-group-8edt-gXX {
    top: 170.5rem;
    width: 144rem;
    height: 125.3rem;
    position: absolute;
    left: 0;

    .rectangle-22-ZDw {
      left: 0;
      top: 63.9rem;
      background-color: #f6f6f6;
      width: 144rem;
      height: 60.4rem;
      position: absolute;
    }
    .ellipse-10-gpM {
      border-radius: 2.2rem;
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      left: 16rem;
      top: 87.3rem;
      background-color: #8c7bff;
    }
    .rectangle-19-oty {
      top: 0;
      background-color: #140047;
      width: 144rem;
      height: 64.5rem;
      position: absolute;
      left: 0;
    }
    .group-8-M9o {
      opacity: 0.5;
      width: 31.4899rem;
      height: 39.1rem;
      position: absolute;
      left: 10.6rem;
      top: 13.4rem;
      background-color: #f6f6f6;
      border-radius: 5rem;

      .image-2-GXf {
        width: 27.2913rem;
        height: 23.7924rem;
        position: absolute;
        left: 2.0993rem;
        top: 4.8984rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-21-nku {
        height: 12.421rem;
        position: absolute;
        left: 0;
        top: 26.679rem;
        background-color: #d9d9d9;
        border-radius: 0 0 5rem 5rem;
        width: 31.4899rem;
      }
      .the-floater-app-JjF {
        line-height: 1.0948047638;
        width: 15.6rem;
        height: 7.1rem;
        position: absolute;
        left: 7.945rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: -0.064rem;
        font-family: Roboto, 'Source Sans Pro';
        top: 29.0407rem;
        color: #000000;
      }
    }
    .project-portfolio-AFf {
      left: 107.7rem;
      line-height: 1.0948047638;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      text-align: right;
      font-size: 6.4rem;
      font-weight: 500;
      letter-spacing: -0.128rem;
      width: 20.4rem;
      height: 21.1rem;
      position: absolute;
      top: 13.1rem;
    }
    .lorem-ipsum-dolor-sit-amet-consectetur-hac-scelerisque-quis-commodo-morbi-augue-ipsum-faucibus-at-lacinia-eget-in-tincidunt-EmK {
      top: 28.6849rem;
      font-weight: 300;
      color: #ffffff;
      width: 24.1rem;
      height: 7.1rem;
      left: 104.4rem;
      line-height: 1.0948047638;
      letter-spacing: -0.032rem;
      font-family: Roboto, 'Source Sans Pro';
      position: absolute;
      text-align: right;
      font-size: 1.6rem;
    }
    .group-7-tay {
      border-radius: 5rem;
      width: 36.4027rem;
      height: 45.2rem;
      position: absolute;
      left: 26.6872rem;
      top: 10.6849rem;
      background-color: #bbbaba;

      .image-2-cWy {
        width: 31.549rem;
        height: 27.5043rem;
        position: absolute;
        left: 2.4269rem;
        top: 5.6626rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-21-vnZ {
        width: 36.4027rem;
        height: 14.3588rem;
        position: absolute;
        left: 0;
        top: 30.8412rem;
        background-color: #d9d9d9;
        border-radius: 0 0 5rem 5rem;
      }
      .the-floater-app-3MP {
        height: 7.1rem;
        position: absolute;
        top: 33.5714rem;
        font-weight: 500;
        line-height: 1.0948047638;
        font-family: Roboto, 'Source Sans Pro';
        width: 15.6rem;
        left: 10.4014rem;
        text-align: center;
        font-size: 3.2rem;
        letter-spacing: -0.064rem;
        color: #000000;
      }
    }
    .group-6-jED {
      left: 49.8114rem;
      top: 7.2rem;
      background-color: #e1e1e1;
      border-radius: 5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 51.5121rem;
      height: 50.3849rem;
      position: absolute;

      .image-1-s5X {
        left: 7.4394rem;
        top: 5.7486rem;
        object-fit: cover;
        vertical-align: top;
        width: 36.746rem;
        height: 32.1246rem;
        position: absolute;
      }
      .rectangle-20-oUy {
        position: absolute;
        left: 0;
        top: 34.379rem;
        background-color: #ffffff;
        border-radius: 0 0 5rem 5rem;
        width: 51.5121rem;
        height: 16.0059rem;
      }
      .wahlbeck-sc-fi-audiobooks-w5P {
        height: 7.1rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        width: 24.2rem;
        position: absolute;
        left: 13.6561rem;
        top: 37.4223rem;
        line-height: 1.0948047638;
        letter-spacing: -0.064rem;
      }
    }
    .arrow-1-zZT {
      object-fit: contain;
      vertical-align: top;
      width: 2.9rem;
      height: 0;
      position: absolute;
      left: 125.6rem;
      top: 41.6rem;
    }
    .arrow-3-LNR {
      top: 41.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.9rem;
      height: 0;
      position: absolute;
      left: 119.8rem;
    }
    .group-26-Gms {
      width: 53.3563rem;
      height: 12.5rem;
      position: absolute;
      left: 17.602rem;
      top: 86.3rem;
      display: flex;
      align-items: center;
      border-radius: 2rem;

      .auto-group-otgd-bJM {
        margin: 1.9rem 0.848rem 4.3rem 0rem;
        box-sizing: border-box;
        padding-bottom: 0.1rem;
        width: 4.4499rem;
        height: calc(100% - 6.2rem);
        border-bottom: dashed 0.1rem #000000;
        flex-shrink: 0;

        .item-1-Hgy {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.7rem;
        }
        .line-1-CZ3 {
          margin-left: 0.801rem;
          width: 0.1rem;
          height: 1.8rem;
          background-color: #000000;
        }
      }
      .auto-group-wr1f-iXP {
        box-sizing: border-box;
        padding: 1.5rem 1.5rem 1.8rem 1.5rem;
        width: 48.0583rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;

        .group-52-RRo {
          width: 42.667rem;
          height: 100%;

          .development-strategy-aJh {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.0948047638;
            letter-spacing: -0.048rem;
          }
          .first-well-develop-an-effective-app-strategy-includes-competitor-research-business-goals-and-a-product-roadmap-2K7 {
            margin-left: 0.267rem;
            max-width: 42.4rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.0948047638;
            letter-spacing: -0.032rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
    }
    .group-27-TQR {
      position: absolute;
      left: 73.2rem;
      top: 86.3rem;
      display: flex;
      align-items: flex-start;
      width: 54.8rem;
      height: 12.5rem;

      .auto-group-l1em-BLR {
        box-sizing: border-box;
        padding-bottom: 0.1rem;
        width: 6.0298rem;
        margin: 0.8rem 0.887rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-bottom: dashed 0.1rem #000000;
        flex-shrink: 0;

        .auto-group-57ob-tVj {
          width: 4.4rem;
          font-weight: 400;
          letter-spacing: -0.048rem;
          height: 4.4rem;
          white-space: nowrap;
          justify-content: center;
          border-radius: 2.2rem;
          margin: 0rem 1.63rem 1.1rem 0rem;
          line-height: 1.0948047638;
          color: #ffffff;
          align-items: center;
          font-size: 2.4rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          background-color: #8c7bff;
          flex-shrink: 0;
        }
        .line-1-7tH {
          width: calc(100% - 5.9298rem);
          height: 1.8rem;
          background-color: #000000;
          flex-shrink: 0;
          margin: 0rem 3.536rem 0rem 2.394rem;
        }
      }
      .auto-group-z3rw-DRX {
        width: 47.8835rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 1.91rem 1.6rem 1.507rem;

        .user-experience-juf {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
        }
        .next-you-will-receive-designs-following-the-best-practices-and-app-store-ui-guidelines-sFB {
          font-family: Roboto, 'Source Sans Pro';
          margin-left: 0.2661rem;
          max-width: 44.2rem;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.0948047638;
          letter-spacing: -0.032rem;
          color: #000000;
        }
      }
    }
    .group-28-8gu {
      position: absolute;
      left: 16.6rem;
      top: 102.1rem;
      display: flex;
      align-items: flex-start;
      width: 54.4rem;
      height: 16.2rem;

      .auto-group-megd-s8h {
        flex-direction: column;
        border-bottom: dashed 0.1rem #000000;
        margin: 1rem 0.88rem 0rem 0rem;
        padding-bottom: 0.1rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 5.9858rem;
        display: flex;

        .auto-group-vmmf-zDK {
          align-items: center;
          justify-content: center;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          border-radius: 2.2rem;
          flex-shrink: 0;
          font-weight: 400;
          width: 4.4rem;
          height: 4.4rem;
          font-size: 2.4rem;
          letter-spacing: -0.048rem;
          color: #ffffff;
          white-space: nowrap;
          background-color: #8c7bff;
          margin: 0rem 1.586rem 0.9rem 0rem;
          line-height: 1.0948047638;
        }
        .line-1-SLD {
          flex-shrink: 0;
          margin: 0rem 3.509rem 0rem 2.377rem;
          width: calc(100% - 5.8858rem);
          height: 1.8rem;
          background-color: #000000;
        }
      }
      .auto-group-4jwh-Y8M {
        flex-shrink: 0;
        width: 47.534rem;
        height: 100%;
        position: relative;

        .rectangle-24-5ty {
          height: 12.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #d9d9d9;
          border-radius: 2rem;
          width: 47.534rem;
        }
        .development-plan-build-2JR {
          height: 2.7rem;
          left: 1.4964rem;
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          color: #000000;
          width: 26.2rem;
          position: absolute;
          top: 1.7rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .after-finalizing-app-design-and-specifications-we-create-a-milestone-based-development-plan-and-build-the-application-WzH {
          height: 10.6rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.0948047638;
          letter-spacing: -0.032rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 40.4rem;
          left: 1.7605rem;
          top: 5.6rem;
        }
      }
    }
    .group-29-ycy {
      display: flex;
      align-items: flex-start;
      width: 55rem;
      height: 23.2rem;
      position: absolute;
      left: 73rem;
      top: 102.1rem;

      .auto-group-etuv-JQM {
        align-items: center;
        flex-shrink: 0;
        width: 6.0518rem;
        display: flex;
        flex-direction: column;
        border-bottom: dashed 0.1rem #000000;
        margin: 1rem 0.89rem 0rem 0rem;
        box-sizing: border-box;
        padding-bottom: 0.1rem;

        .auto-group-vprf-CEq {
          line-height: 1.0948047638;
          letter-spacing: -0.048rem;
          white-space: nowrap;
          background-color: #8c7bff;
          border-radius: 2.2rem;
          flex-shrink: 0;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          width: 4.4rem;
          font-size: 2.4rem;
          justify-content: center;
          margin: 0rem 1.652rem 0.9rem 0rem;
          color: #ffffff;
          display: flex;
          align-items: center;
          height: 4.4rem;
        }
        .line-1-3mF {
          height: 1.8rem;
          background-color: #000000;
          flex-shrink: 0;
          margin: 0rem 3.549rem 0rem 2.403rem;
          width: calc(100% - 5.9518rem);
        }
      }
      .auto-group-pkzo-A5B {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 48.0583rem;

        .rectangle-24-Gtu {
          border-radius: 2rem;
          width: 48.0583rem;
          height: 12.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #d9d9d9;
        }
        .testing-CXf {
          font-family: Roboto, 'Source Sans Pro';
          height: 2.7rem;
          position: absolute;
          left: 1.5129rem;
          top: 1.7rem;
          font-size: 2.4rem;
          letter-spacing: -0.048rem;
          width: 7.6rem;
          font-weight: 400;
          line-height: 1.0948047638;
          color: #000000;
          white-space: nowrap;
        }
        .when-app-development-is-complete-we-perform-thorough-testing-to-deliver-a-stable-usable-and-secured-product-WHT {
          height: 17.6rem;
          top: 5.6rem;
          font-size: 1.6rem;
          line-height: 1.0948047638;
          letter-spacing: -0.032rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 43.8rem;
          position: absolute;
          left: 1.7799rem;
          font-weight: 300;
        }
      }
    }
    .unpacking-the-process-83w {
      letter-spacing: -0.11rem;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 54.4rem;
      position: absolute;
      top: 71.5rem;
      font-size: 5.5rem;
      line-height: 1.0948047985;
      height: 6.1rem;
      left: 44.85rem;
      text-align: center;
      font-weight: 500;
      color: #140047;
    }
  }
  .auto-group-x9oj-CJh {
    border-radius: 5rem;
    padding: 4.4rem 7.6rem 4.3rem 8.8rem;
    height: 48.6rem;
    position: absolute;
    left: 9.3rem;
    align-items: center;
    background-color: #bfb5ff;
    box-sizing: border-box;
    width: 124.8rem;
    top: 301.1rem;
    display: flex;

    .hear-it-from-our-trusted-clients-r8M {
      font-size: 6.4rem;
      line-height: 1.0948047638;
      letter-spacing: -0.128rem;
      color: #140047;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 2rem 2.6rem 0rem 0rem;
      max-width: 34rem;
      font-weight: 300;

      .hear-it-from-our-trusted-clients-r8M-sub-0 {
        font-size: 6.4rem;
        font-weight: 300;
        line-height: 1.0948047638;
        letter-spacing: -0.128rem;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
      }
      .hear-it-from-our-trusted-clients-r8M-sub-1 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.0948047638;
        letter-spacing: -0.128rem;
        color: #140047;
      }
      .hear-it-from-our-trusted-clients-r8M-sub-2 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.0948047638;
        letter-spacing: -0.128rem;
        color: #140047;
      }
      .hear-it-from-our-trusted-clients-r8M-sub-3 {
        letter-spacing: -0.128rem;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 300;
        line-height: 1.0948047638;
      }
    }
    .arrow-4-SGu {
      flex-shrink: 0;
      margin: 1.9rem 1.8rem 0rem 0rem;
      width: 2.9rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-z3ed-ATo {
      margin-right: 1.4261rem;
      width: 62.7739rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .group-21-VFB {
        box-sizing: border-box;
        top: 4.8rem;
        align-items: center;
        display: flex;
        padding: 2.663rem 4.887rem 4.868rem 4.887rem;
        width: 33.9739rem;
        height: 32.1986rem;
        position: absolute;
        left: 28.8rem;
        flex-direction: column;
        background-color: #0a031c;
        border-radius: 5rem;

        .ellipse-9-MYH {
          margin: 0rem 7.702rem 1.641rem 7.702rem;
          width: calc(100% - 15.4039rem);
          border: solid 0.3rem #ffffff;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:71e6938835e6c27af9b68bdda2be0323b81dd107');
          border-radius: 4.3981rem;
          flex-shrink: 0;
          height: 8.7961rem;
          box-sizing: border-box;
          background-size: 100% 100%;
        }
        .roofworx-dEu {
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.431rem 0.026rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-tellus-massa-mi-tellus-eu-ultrices-imperdiet-pretium-enim-molestie-egestas-enim-nunc-9DF {
          font-weight: 300;
          line-height: 1.0948047638;
          letter-spacing: -0.036rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.2rem;
          text-align: center;
          font-size: 1.8rem;
          color: #ffffff;
        }
      }
      .group-20-b5F {
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #140047;
        border-radius: 5rem;
        box-sizing: border-box;
        width: 42.1rem;
        left: 0;
        top: 0;
        display: flex;
        padding: 3.3rem 7.8rem 7.3rem 7.8rem;
        height: 39.9rem;
        position: absolute;

        .ellipse-9-HTs {
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:147eba1ba7dc91a17fa1c4fcc609770cdeffce9f');
          border-radius: 5.45rem;
          margin: 0rem 7.8rem 2rem 7.8rem;
          width: calc(100% - 15.6rem);
          border: solid 0.3rem #ffffff;
          box-sizing: border-box;
          height: 10.9rem;
          background-size: 100% 100%;
          background-position: center;
          flex-shrink: 0;
        }
        .mark-wahlbeck-woK {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.1725;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-pretium-donec-aliquam-nisl-consequat-sagittis-penatibus-sit-dui-commodo-vulputate-UHT {
          max-width: 26.5rem;
          text-align: center;
          line-height: 1.0948047638;
          color: #ffffff;
          font-size: 2rem;
          font-weight: 300;
          letter-spacing: -0.04rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .arrow-2-6pd {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.9rem;
      width: 2.9rem;
      height: 0;
    }
  }
  .auto-group-fkah-qGR {
    border-radius: 5rem;
    position: absolute;
    left: 9.3rem;
    top: 100.5rem;
    column-gap: 2rem;
    background-color: #bfb5ff;
    align-items: center;
    box-sizing: border-box;
    padding: 5.3rem 6.1rem 5.1rem 6.7rem;
    width: 124.8rem;
    height: 61rem;
    display: flex;

    .auto-group-bs8q-un5 {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 36rem;
      align-items: center;
      display: flex;
      background-color: #f6f6f6;
      padding: 4.438rem 5.65rem 3.3rem 5.65rem;
      height: 100%;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 5rem;

      .item-4-1-261 {
        margin: 0rem 0.092rem 3.339rem 0rem;
        width: 16.202rem;
        height: 17.6236rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ideation-to-deployment-LMb {
        margin-bottom: 1.7rem;
        font-weight: 400;
        line-height: 1.0948047638;
        color: #140047;
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: -0.048rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .from-ideation-to-deployment-and-beyond-were-committed-to-ensuring-that-your-digital-product-is-not-just-functional-but-user-friendly-visually-appealing-and-optimized-for-performance-edB {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.0948047638;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 24.7rem;
        letter-spacing: -0.032rem;
        flex-shrink: 0;
        margin-bottom: 3rem;
      }
      .frame-dzu {
        justify-content: center;
        margin: 0rem 4.55rem 0rem 4.65rem;
        display: flex;
        align-items: center;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
        border-radius: 10rem;
        height: 3.9rem;
        text-align: center;
        border: solid 0.1rem #140047;
        line-height: 1.1725;
        white-space: nowrap;
        width: calc(100% - 9.2rem);
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .auto-group-cu8d-FWV {
      flex-shrink: 0;
      width: 36rem;
      height: 100%;
      position: relative;

      .rectangle-16-ziy {
        top: 0;
        background-color: #f6f6f6;
        border-radius: 8rem;
        width: 36rem;
        height: 44.7rem;
        position: absolute;
        left: 0;
      }
      .rectangle-17-XD7 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f6f6f6;
        border-radius: 5rem;
        width: 36rem;
        height: 50.6rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .frame-3SM {
        position: absolute;
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        width: 15.5rem;
        top: 43.4rem;
        line-height: 1.1725;
        border: solid 0.1rem #140047;
        height: 3.9rem;
        justify-content: center;
        color: #140047;
        text-align: center;
        font-size: 1.4rem;
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        border-radius: 10rem;
        left: 10.3rem;
      }
      .update-and-refine-vW9 {
        top: 25.4rem;
        line-height: 1.0948047638;
        letter-spacing: -0.048rem;
        white-space: nowrap;
        width: 18.7rem;
        height: 2.7rem;
        position: absolute;
        left: 8.65rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
      }
      .item-5-1-RC1 {
        height: 17.2611rem;
        position: absolute;
        left: 9.6rem;
        top: 4.8784rem;
        object-fit: contain;
        vertical-align: top;
        width: 17.3185rem;
      }
      .our-development-agency-specializes-in-fixing-and-optimizing-existing-applications-to-enhance-user-experience-improve-performance-and-drive-results-for-your-business-YXX {
        height: 8.8rem;
        left: 4.9rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.0948047638;
        width: 26.3rem;
        position: absolute;
        top: 29.8rem;
        text-align: center;
        letter-spacing: -0.032rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-k8ys-ZxR {
      height: 100%;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 6.982rem 4.8rem 3.3rem 4.9rem;
      width: 36rem;
      display: flex;
      background-color: #f6f6f6;
      border-radius: 5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;

      .item-6-1-UpV {
        box-sizing: border-box;
        padding: 0.968rem 1.462rem 11.383rem 9.658rem;
        margin: 0rem 5.882rem 3.888rem 5.857rem;
        overflow: hidden;
        position: relative;
        align-items: flex-end;
        background-repeat: no-repeat;
        width: calc(100% - 11.7392rem);
        display: flex;
        background-position: center;
        background-image: url('REPLACE_IMAGE:159:257');
        flex-direction: column;
        background-size: cover;
        flex-shrink: 0;

        .vector-MdP {
          height: 1.4778rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.518rem 0.217rem 0rem;
          width: 2.9229rem;
        }
        .vector-HG9 {
          width: 0.4841rem;
          height: 0.4841rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .custom-data-solutions-zZs {
        margin: 0rem 0.1rem 1.7rem 0rem;
        text-align: center;
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.0948047638;
        letter-spacing: -0.048rem;
        color: #140047;
        font-family: Roboto, 'Source Sans Pro';
      }
      .we-specialize-in-turning-complex-data-sets-into-meaningful-insights-and-creating-customized-web-solutions-that-leverage-your-data-to-drive-results-for-your-business-hUH {
        max-width: 26.3rem;
        text-align: center;
        letter-spacing: -0.032rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4.8rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.0948047638;
      }
      .frame-kBf {
        width: calc(100% - 10.8rem);
        font-weight: 400;
        background-color: #140047;
        font-size: 1.4rem;
        color: #ffffff;
        white-space: nowrap;
        border-radius: 10rem;
        text-align: center;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        margin: 0 5.4rem;
        height: 3.9rem;
        align-items: center;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-2dux-AFP {
    width: 144rem;
    height: 76.9rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-11-gzR {
      left: 0;
      top: 0;
      background-color: #140047;
      width: 144rem;
      height: 64.2rem;
      position: absolute;
    }
    .frame-2oP {
      justify-content: center;
      line-height: 1.1725;
      text-transform: uppercase;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.7rem;
      position: absolute;
      display: flex;
      background-color: #fdb600;
      left: 114.8rem;
      text-align: center;
      border-radius: 10rem;
      width: 14rem;
      top: 5.7rem;
      font-size: 1.1rem;
      font-weight: 400;
      align-items: center;
    }
    .frame-7Zw {
      border-radius: 10rem;
      left: 15.6rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1725;
      white-space: nowrap;
      display: flex;
      color: #000000;
      align-items: center;
      width: 20.5rem;
      position: absolute;
      top: 54rem;
      justify-content: center;
      height: 5.2rem;
      text-transform: uppercase;
      font-family: Roboto, 'Source Sans Pro';
      background-color: #fdb600;
    }
    .lets-bring-your-brilliant-ideas-to-life-Q3F {
      font-size: 6.4rem;
      font-weight: 300;
      line-height: 1.0948047638;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      height: 21.1rem;
      position: absolute;
      left: 15.6rem;
      width: 44.7rem;
      top: 21.6rem;
      letter-spacing: -0.128rem;

      .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-0 {
      }
      .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-1 {
        letter-spacing: -0.128rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.0948047638;
      }
      .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-2 {
      }
    }
    .we-work-closely-with-you-to-understand-your-unique-needs-and-bring-your-vision-to-life-so-whether-youre-looking-to-revamp-an-existing-website-or-create-a-custom-app-were-here-to-help-UhK {
      letter-spacing: -0.032rem;
      color: #ffffff;
      font-size: 1.6rem;
      height: 5.3rem;
      position: absolute;
      left: 15.6rem;
      top: 43.9rem;
      font-weight: 300;
      line-height: 1.0948047638;
      font-family: Roboto, 'Source Sans Pro';
      width: 45.7rem;
    }
    .frame-10-6yb {
      height: 1.5rem;
      position: absolute;
      left: 16.25rem;
      top: 7.1rem;
      display: flex;
      align-items: center;
      width: 31.3rem;

      .home-peh {
        font-size: 1.2rem;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.5rem;
        text-align: center;
      }
      .projects-9S5 {
        font-weight: 400;
        line-height: 1.25;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        text-align: center;
        color: #ffffff;
        margin-right: 4.35rem;
      }
      .blogs-54q {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
        flex-shrink: 0;
        margin-right: 5.35rem;
        text-align: center;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-QN1 {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
      }
    }
    .group-5-9qP {
      position: absolute;
      left: 66.2rem;
      top: 6.1998rem;
      display: flex;
      align-items: flex-start;
      width: 11.6996rem;
      height: 3.2002rem;

      .group-4-Usf {
        margin-right: 0.5185rem;
        width: 3.3rem;
        height: 2.6334rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-RH7 {
        margin-top: 0.0918rem;
        width: 7.8811rem;
        height: 3.1083rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item-2-1-xH3 {
      vertical-align: top;
      width: 63.2rem;
      height: 63.2rem;
      position: absolute;
      left: 70.4rem;
      top: 13.7rem;
      object-fit: cover;
    }
  }
  .our-core-features-gD3 {
    text-align: center;
    font-size: 6.4rem;
    line-height: 1.0948047638;
    letter-spacing: -0.128rem;
    color: #140047;
    white-space: nowrap;
    width: 49.7rem;
    height: 7.1rem;
    position: absolute;
    left: 47.15rem;
    top: 83.4rem;
    font-weight: 500;
    font-family: Roboto, 'Source Sans Pro';
  }
  .understanding-your-vision-and-goals-and-providing-personalized-solutions-to-help-you-achieve-success-NLm {
    width: 64.2rem;
    text-align: center;
    letter-spacing: -0.048rem;
    color: #020202;
    font-family: Roboto, 'Source Sans Pro';
    height: 5.3rem;
    position: absolute;
    left: 39.95rem;
    top: 91.3rem;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.0948047638;
  }
  .auto-group-8ckw-qVF {
    box-sizing: border-box;
    left: 0;
    align-items: center;
    flex-direction: column;
    top: 354.6rem;
    display: flex;
    background-color: #140047;
    padding: 9.4rem 16.001rem 5.9rem 16rem;
    width: 144rem;
    height: 41.1rem;
    position: absolute;

    .auto-group-ttlz-hnM {
      margin-bottom: 6.1998rem;
      width: 100%;
      height: 3.5002rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-18-RyF {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0.3rem 19.8rem 0rem 0rem;
        display: flex;

        .group-4-xTP {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.5185rem;
          width: 3.3rem;
          height: 2.6334rem;
          object-fit: contain;
        }
        .vector-geH {
          margin-top: 0.0918rem;
          width: 7.8811rem;
          height: 3.1083rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-22-2CM {
        margin: 0.7rem 19.1rem 0.8rem 0rem;
        height: calc(100% - 1.5002rem);
        display: flex;
        column-gap: 5.1rem;
        align-items: center;
        flex-shrink: 0;

        .about-us-jsT {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
        }
        .blog-sim {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .terms-conditions-25s {
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
        .privacy-policy-xER {
          line-height: 1.25;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .frame-21-HGh {
        padding: 0.244rem 0.256rem 0.244rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.3002rem;
        box-sizing: border-box;

        .frame-amb {
          margin-right: 1.9rem;
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-uYy {
          margin-right: 2.156rem;
          width: 2.7993rem;
          height: 2.7118rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icons8-tiktok-1-EbF {
          width: 2.688rem;
          height: 2.688rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-19-mLH {
      margin: 0rem 33.599rem 8.5rem 33.7rem;
      width: calc(100% - 67.2993rem);
      height: 5.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .subscribe-now-Gnq {
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-qsob-cLu {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .your-email-ki1 {
          line-height: 1.25;
          color: #7e7e7e;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 13.5rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-e2wp-61B {
          background-color: #fdb600;
          border-radius: 0 1rem 1rem 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 2.1rem;
          height: 100%;

          .polygon-1-dG1 {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .group-16-w1o {
      margin: 0rem 47.799rem 0rem 46.1rem;
      opacity: 0.46;
      width: calc(100% - 93.8993rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-3qX {
        height: 1.6398rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.04rem 0.3rem 0rem 0rem;
        width: 1.5rem;
      }
      .all-rights-reserved-nHK {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
