
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.7rem;
}.pro-dev-vZ3 {
  font-size: 4.8rem;
  letter-spacing: -0.216rem;
  white-space: nowrap;
  height: 6.1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: LuloCleanOne, 'Source Sans Pro';
  width: 100%;
}
