
html {
	font-size:65.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage2-mQZ {
  width: 100%;
  height: 395.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
 a {
     text-decoration: none;
 }
.homepage2-mQZ .auto-group-8edt-gXX {
  width: 144rem;
  height: 125.3rem;
  position: absolute;
  left: 0;
  top: 170.5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .rectangle-22-ZDw {
  width: 144rem;
  height: 60.4rem;
  position: absolute;
  left: 0;
  top: 63.9rem;
  background-color: #f6f6f6;
}
.homepage2-mQZ .auto-group-8edt-gXX .ellipse-10-gpM {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  left: 16rem;
  top: 87.3rem;
  background-color: #8c7bff;
  border-radius: 2.2rem;
}


.homepage2-mQZ .auto-group-8edt-gXX .rectangle-19-oty {
  width: 144rem;
  height: 64.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #140047;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-8-M9o {
  opacity: 0.5;
  width: 31.4899rem;
  height: 39.1rem;
  position: absolute;
  left: 10.6rem;
  top: 13.4rem;
  background-color: #f6f6f6;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-8-M9o .image-2-GXf {
  width: 27.2913rem;
  height: 23.7924rem;
  position: absolute;
  left: 2.0993rem;
  top: 4.8984rem;
  object-fit: cover;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-8-M9o .rectangle-21-nku {
  width: 31.4899rem;
  height: 12.421rem;
  position: absolute;
  left: 0;
  top: 26.679rem;
  background-color: #d9d9d9;
  border-radius: 0 0 5rem 5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-8-M9o .the-floater-app-JjF {
  width: 15.6rem;
  height: 7.1rem;
  position: absolute;
  left: 7.945rem;
  top: 29.0407rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.0948047638;
  letter-spacing: -0.064rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .project-portfolio-AFf {
  width: 20.4rem;
  height: 21.1rem;
  position: absolute;
  left: 107.7rem;
  top: 13.1rem;
  text-align: right;
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.0948047638;
  /*letter-spacing: -0.128rem;*/
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .lorem-ipsum-dolor-sit-amet-consectetur-hac-scelerisque-quis-commodo-morbi-augue-ipsum-faucibus-at-lacinia-eget-in-tincidunt-EmK {
  width: 24.1rem;
  height: 7.1rem;
  position: absolute;
  left: 104.4rem;
  top: 28.6849rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .group-7-tay {
  width: 36.4027rem;
  height: 45.2rem;
  position: absolute;
  left: 26.6872rem;
  top: 10.6849rem;
  background-color: #bbbaba;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-7-tay .image-2-cWy {
  width: 31.549rem;
  height: 27.5043rem;
  position: absolute;
  left: 2.4269rem;
  top: 5.6626rem;
  object-fit: cover;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-7-tay .rectangle-21-vnZ {
  width: 36.4027rem;
  height: 14.3588rem;
  position: absolute;
  left: 0;
  top: 30.8412rem;
  background-color: #d9d9d9;
  border-radius: 0 0 5rem 5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-7-tay .the-floater-app-3MP {
  width: 15.6rem;
  height: 7.1rem;
  position: absolute;
  left: 10.4014rem;
  top: 33.5714rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.0948047638;
  letter-spacing: -0.064rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .group-6-jED {
  width: 51.5121rem;
  height: 50.3849rem;
  position: absolute;
  left: 49.8114rem;
  top: 7.2rem;
  background-color: #e1e1e1;
  border-radius: 5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.homepage2-mQZ .auto-group-8edt-gXX .group-6-jED .image-1-s5X {
  width: 36.746rem;
  height: 32.1246rem;
  position: absolute;
  left: 7.4394rem;
  top: 5.7486rem;
  object-fit: cover;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-6-jED .rectangle-20-oUy {
  width: 51.5121rem;
  height: 16.0059rem;
  position: absolute;
  left: 0;
  top: 34.379rem;
  background-color: #ffffff;
  border-radius: 0 0 5rem 5rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-6-jED .wahlbeck-sc-fi-audiobooks-w5P {
  width: 24.2rem;
  height: 7.1rem;
  position: absolute;
  left: 13.6561rem;
  top: 37.4223rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.0948047638;
  letter-spacing: -0.064rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .arrow-1-zZT {
  /*width: 2.9rem;*/
  /*height: 0;*/
  position: absolute;
  left: 125.6rem;
  top: 41.6rem;
  object-fit: contain;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8edt-gXX .arrow-3-LNR {
  /*width: 2.9rem;*/
  /*height: 0;*/
  position: absolute;
  left: 119.8rem;
  top: 41.6rem;
  object-fit: contain;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms {
  width: 53.3563rem;
  height: 12.5rem;
  position: absolute;
  left: 17.602rem;
  top: 86.3rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-otgd-bJM {
  margin: 1.9rem 0.848rem 4.3rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 4.4499rem;
  height: calc(100% - 6.2rem);
  border-bottom: dashed 0.1rem #000000;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-otgd-bJM .item-1-Hgy {
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-otgd-bJM .line-1-CZ3 {
  /*margin-left: 0.801rem;*/
  width: 0.1rem;
  height: 1.8rem;
  background-color: #000000;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-wr1f-iXP {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.8rem 1.5rem;
  width: 48.0583rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-wr1f-iXP .group-52-RRo {
  width: 42.667rem;
  height: 100%;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-wr1f-iXP .group-52-RRo .development-strategy-aJh {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-26-Gms .auto-group-wr1f-iXP .group-52-RRo .first-well-develop-an-effective-app-strategy-includes-competitor-research-business-goals-and-a-product-roadmap-2K7 {
  margin-left: 0.267rem;
  max-width: 42.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR {
  width: 54.8rem;
  height: 12.5rem;
  position: absolute;
  left: 73.2rem;
  top: 86.3rem;
  display: flex;
  align-items: flex-start;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-l1em-BLR {



    margin: 1.5rem 0.9rem 5.5rem 0rem;
    box-sizing: border-box;
    padding-bottom: 0.1rem;
    width: 4.4499rem;
    height: calc(100% - 6.2rem);
    border-bottom: dashed 0.1rem #000000;
    border-left: dashed 0.1rem #000000;
    flex-shrink: 0;
}
.auto-group-l1em-BLR {


    color:black;
    margin: 1.5rem 0.9rem 5.5rem 0rem;
    box-sizing: border-box;
    padding-bottom: 0.1rem;
    width: 4.4499rem;
    /*height: calc(100% - 6.2rem);*/
    border-bottom: dashed 0.1rem #000000;
    border-left: dashed 0.1rem #000000;
    flex-shrink: 0;
}

.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-l1em-BLR .auto-group-57ob-tVj {
  /*margin: 0rem 1.63rem 1.1rem 0rem;*/
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c7bff;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.auto-group-l1em-BLR .auto-group-57ob-tVj {
    margin: 0rem 1.63rem 1.1rem 0rem;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.0948047638;
    letter-spacing: -0.048rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c7bff;
    border-radius: 2.2rem;
    flex-shrink: 0;
}
.auto-group-57ob-tVj {
    margin: 0rem 1.63rem 1.1rem 0rem;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.0948047638;
    letter-spacing: -0.048rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c7bff;
    border-radius: 2.2rem;
    flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-l1em-BLR .line-1-7tH {

    width: 0.1rem;
    height: 1.8rem;
    background-color: #000000;
}
.auto-group-l1em-BLR .line-1-7tH {

    width: 0.1rem;
    height: 1.8rem;
    background-color: #000000;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-z3rw-DRX {
  box-sizing: border-box;
  padding: 1.7rem 1.91rem 1.6rem 1.507rem;
  width: 47.8835rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-z3rw-DRX .user-experience-juf {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-27-TQR .auto-group-z3rw-DRX .next-you-will-receive-designs-following-the-best-practices-and-app-store-ui-guidelines-sFB {
  margin-left: 0.2661rem;
  max-width: 44.2rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu {
  width: 54.4rem;
  height: 16.2rem;
  position: absolute;
  left: 16.6rem;
  top: 102.1rem;
  display: flex;
  align-items: flex-start;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-megd-s8h {
  margin: 1rem 0.88rem 0rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 5.9858rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: dashed 0.1rem #000000;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-megd-s8h .auto-group-vmmf-zDK {
  margin: 0rem 1.586rem 0.9rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c7bff;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-megd-s8h .line-1-SLD {
  margin: 0rem 3.509rem 0rem 2.377rem;
  width: calc(100% - 5.8858rem);
  height: 1.8rem;
  background-color: #000000;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-4jwh-Y8M {
  width: 47.534rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-4jwh-Y8M .rectangle-24-5ty {
  width: 47.534rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-4jwh-Y8M .development-plan-build-2JR {
  width: 26.2rem;
  height: 2.7rem;
  position: absolute;
  left: 1.4964rem;
  top: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-28-8gu .auto-group-4jwh-Y8M .after-finalizing-app-design-and-specifications-we-create-a-milestone-based-development-plan-and-build-the-application-WzH {
  width: 40.4rem;
  height: 10.6rem;
  position: absolute;
  left: 1.7605rem;
  top: 5.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy {
  width: 55rem;
  height: 23.2rem;
  position: absolute;
  left: 73rem;
  top: 102.1rem;
  display: flex;
  align-items: flex-start;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-etuv-JQM {
  margin: 1rem 0.89rem 0rem 0rem;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 6.0518rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: dashed 0.1rem #000000;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-etuv-JQM .auto-group-vprf-CEq {
  margin: 0rem 1.652rem 0.9rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c7bff;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-etuv-JQM .line-1-3mF {
  margin: 0rem 3.549rem 0rem 2.403rem;
  width: calc(100% - 5.9518rem);
  height: 1.8rem;
  background-color: #000000;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-pkzo-A5B {
  width: 48.0583rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-pkzo-A5B .rectangle-24-Gtu {
  width: 48.0583rem;
  height: 12.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-pkzo-A5B .testing-CXf {
  width: 7.6rem;
  height: 2.7rem;
  position: absolute;
  left: 1.5129rem;
  top: 1.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-8edt-gXX .group-29-ycy .auto-group-pkzo-A5B .when-app-development-is-complete-we-perform-thorough-testing-to-deliver-a-stable-usable-and-secured-product-WHT {
  width: 43.8rem;
  height: 17.6rem;
  position: absolute;
  left: 1.7799rem;
  top: 5.6rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8edt-gXX .unpacking-the-process-83w {
  width: 54.4rem;
  height: 6.1rem;
  position: absolute;
  left: 44.85rem;
  top: 71.5rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.0948047985;
  letter-spacing: -0.11rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-x9oj-CJh {
  box-sizing: border-box;
  padding: 4.4rem 7.6rem 4.3rem 8.8rem;
  width: 124.8rem;
  height: 48.6rem;
  position: absolute;
  left: 9.3rem;
  top: 301.1rem;
  display: flex;
  align-items: center;
  background-color: #bfb5ff;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-x9oj-CJh .hear-it-from-our-trusted-clients-r8M {
  margin: 2rem 2.6rem 0rem 0rem;
  max-width: 34rem;
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .hear-it-from-our-trusted-clients-r8M .hear-it-from-our-trusted-clients-r8M-sub-0 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-x9oj-CJh .hear-it-from-our-trusted-clients-r8M .hear-it-from-our-trusted-clients-r8M-sub-1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-x9oj-CJh .hear-it-from-our-trusted-clients-r8M .hear-it-from-our-trusted-clients-r8M-sub-2 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-x9oj-CJh .hear-it-from-our-trusted-clients-r8M .hear-it-from-our-trusted-clients-r8M-sub-3 {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-x9oj-CJh .arrow-4-SGu {
  margin: 1rem 1rem 0rem 0rem;
  /*width: 2.9rem;*/
  /*height: 0;*/
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo {
  margin-right: 1.4261rem;
  width: 62.7739rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-21-VFB {
  box-sizing: border-box;
  padding: 2.663rem 4.887rem 4.868rem 4.887rem;
  width: 33.9739rem;
  height: 32.1986rem;
  position: absolute;
  left: 28.8rem;
  top: 4.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0a031c;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-21-VFB .ellipse-9-MYH {
  margin: 0rem 7.702rem 1.641rem 7.702rem;
  width: calc(100% - 15.4039rem);
  height: 8.7961rem;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-9-bg.png');
  border-radius: 4.3981rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-21-VFB .roofworx-dEu {
  margin: 0rem 0rem 1.431rem 0.026rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-21-VFB .lorem-ipsum-dolor-sit-amet-consectetur-tellus-massa-mi-tellus-eu-ultrices-imperdiet-pretium-enim-molestie-egestas-enim-nunc-9DF {
  max-width: 24.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-20-b5F {
  box-sizing: border-box;
  padding: 3.3rem 7.8rem 7.3rem 7.8rem;
  width: 42.1rem;
  height: 39.9rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #140047;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-20-b5F .ellipse-9-HTs {
  margin: 0rem 7.8rem 2rem 7.8rem;
  width: calc(100% - 15.6rem);
  height: 10.9rem;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-9-bg-76D.png');
  border-radius: 5.45rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-20-b5F .mark-wahlbeck-woK {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .auto-group-z3ed-ATo .group-20-b5F .lorem-ipsum-dolor-sit-amet-consectetur-pretium-donec-aliquam-nisl-consequat-sagittis-penatibus-sit-dui-commodo-vulputate-UHT {
  max-width: 26.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-x9oj-CJh .arrow-2-6pd {
  /*margin-top: 1.9rem;*/
  /*width: 2.9rem;*/
  /*height: 0;*/
  /*object-fit: contain;*/
  /*vertical-align: top;*/
  /*flex-shrink: 0;*/
}
.homepage2-mQZ .auto-group-fkah-qGR {
  box-sizing: border-box;
  padding: 5.3rem 6.1rem 5.1rem 6.7rem;
  width: 124.8rem;
  height: 61rem;
  position: absolute;
  left: 9.3rem;
  top: 100.5rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  background-color: #bfb5ff;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-bs8q-un5 {
  box-sizing: border-box;
  padding: 4.438rem 5.65rem 3.3rem 5.65rem;
  width: 36rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-bs8q-un5 .item-4-1-261 {
  margin: 0rem 0.092rem 3.339rem 0rem;
  width: 16.202rem;
  height: 17.6236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-bs8q-un5 .ideation-to-deployment-LMb {
  margin-bottom: 1.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-bs8q-un5 .from-ideation-to-deployment-and-beyond-were-committed-to-ensuring-that-your-digital-product-is-not-just-functional-but-user-friendly-visually-appealing-and-optimized-for-performance-edB {
  margin-bottom: 3rem;
  max-width: 24.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-bs8q-un5 .frame-dzu {
  margin: 0rem 4.55rem 0rem 4.65rem;
  width: calc(100% - 9.2rem);
  height: 3.9rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #140047;
  box-sizing: border-box;
  border-radius: 10rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV {
  width: 36rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .rectangle-16-ziy {
  width: 36rem;
  height: 44.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f6f6f6;
  border-radius: 8rem;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .rectangle-17-XD7 {
  width: 36rem;
  height: 50.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  border-radius: 5rem;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .frame-3SM {
  width: 15.5rem;
  height: 3.9rem;
  position: absolute;
  left: 10.3rem;
  top: 43.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #140047;
  box-sizing: border-box;
  border-radius: 10rem;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .update-and-refine-vW9 {
  width: 18.7rem;
  height: 2.7rem;
  position: absolute;
  left: 8.65rem;
  top: 25.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .item-5-1-RC1 {
  width: 17.3185rem;
  height: 17.2611rem;
  position: absolute;
  left: 9.6rem;
  top: 4.8784rem;
  object-fit: contain;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-cu8d-FWV .our-development-agency-specializes-in-fixing-and-optimizing-existing-applications-to-enhance-user-experience-improve-performance-and-drive-results-for-your-business-YXX {
  width: 26.3rem;
  height: 8.8rem;
  position: absolute;
  left: 4.9rem;
  top: 29.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR {
  box-sizing: border-box;
  padding: 6.982rem 4.8rem 3.3rem 4.9rem;
  width: 36rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .item-6-1-UpV {
  margin: 0rem 5.882rem 3.888rem 5.857rem;
  box-sizing: border-box;
  padding: 0.968rem 1.462rem 11.383rem 9.658rem;
  width: calc(100% - 11.7392rem);
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/clip-path-group.png');
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .item-6-1-UpV .vector-MdP {
  margin: 0rem 0.518rem 0.217rem 0rem;
  width: 2.9229rem;
  height: 1.4778rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .item-6-1-UpV .vector-HG9 {
  width: 0.4841rem;
  height: 0.4841rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .custom-data-solutions-zZs {
  margin: 0rem 0.1rem 1.7rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .we-specialize-in-turning-complex-data-sets-into-meaningful-insights-and-creating-customized-web-solutions-that-leverage-your-data-to-drive-results-for-your-business-hUH {
  margin-bottom: 4.8rem;
  max-width: 26.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-fkah-qGR .auto-group-k8ys-ZxR .frame-kBf {
  margin: 0 5.4rem;
  width: calc(100% - 10.8rem);
  height: 3.9rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #140047;
  border-radius: 10rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP {
  width: 144rem;
  height: 76.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .rectangle-11-gzR {
  width: 144rem;
  height: 64.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #140047;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-2oP {
  width: 14rem;
  height: 3.7rem;
  position: absolute;
  left: 114.8rem;
  top: 5.7rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdb600;
  border-radius: 10rem;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-7Zw {
  width: 20.5rem;
  height: 5.2rem;
  position: absolute;
  left: 15.6rem;
  top: 54rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdb600;
  border-radius: 10rem;
}
.homepage2-mQZ .auto-group-2dux-AFP .lets-bring-your-brilliant-ideas-to-life-Q3F {
  width: 44.7rem;
  height: 21.1rem;
  position: absolute;
  left: 15.6rem;
  top: 21.6rem;
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-2dux-AFP .lets-bring-your-brilliant-ideas-to-life-Q3F .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-0 {
}
.homepage2-mQZ .auto-group-2dux-AFP .lets-bring-your-brilliant-ideas-to-life-Q3F .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-2dux-AFP .lets-bring-your-brilliant-ideas-to-life-Q3F .lets-bring-your-brilliant-ideas-to-life-Q3F-sub-2 {
}
.homepage2-mQZ .auto-group-2dux-AFP .we-work-closely-with-you-to-understand-your-unique-needs-and-bring-your-vision-to-life-so-whether-youre-looking-to-revamp-an-existing-website-or-create-a-custom-app-were-here-to-help-UhK {
  width: 45.7rem;
  height: 5.3rem;
  position: absolute;
  left: 15.6rem;
  top: 43.9rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-10-6yb {
  width: 31.3rem;
  height: 1.5rem;
  position: absolute;
  left: 16.25rem;
  top: 7.1rem;
  display: flex;
  align-items: center;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-10-6yb .home-peh {
  margin-right: 4.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-10-6yb .projects-9S5 {
  margin-right: 4.35rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-10-6yb .blogs-54q {
  margin-right: 5.35rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .frame-10-6yb .about-QN1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .group-5-9qP {
  width: 11.6996rem;
  height: 3.2002rem;
  position: absolute;
  left: 66.2rem;
  top: 6.1998rem;
  display: flex;
  align-items: flex-start;
}
.homepage2-mQZ .auto-group-2dux-AFP .group-5-9qP .group-4-Usf {
  margin-right: 0.5185rem;
  width: 3.3rem;
  height: 2.6334rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .group-5-9qP .vector-RH7 {
  margin-top: 0.0918rem;
  width: 7.8811rem;
  height: 3.1083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-2dux-AFP .item-2-1-xH3 {
  width: 63.2rem;
  height: 63.2rem;
  position: absolute;
  left: 70.4rem;
  top: 13.7rem;
  object-fit: cover;
  vertical-align: top;
}
.homepage2-mQZ .our-core-features-gD3 {
  width: 49.7rem;
  height: 7.1rem;
  position: absolute;
  left: 47.15rem;
  top: 83.4rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.0948047638;
  letter-spacing: -0.128rem;
  color: #140047;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage2-mQZ .understanding-your-vision-and-goals-and-providing-personalized-solutions-to-help-you-achieve-success-NLm {
  width: 64.2rem;
  height: 5.3rem;
  position: absolute;
  left: 39.95rem;
  top: 91.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.0948047638;
  letter-spacing: -0.048rem;
  color: #020202;
  font-family: Roboto, 'Source Sans Pro';
}
.homepage2-mQZ .auto-group-8ckw-qVF {
  box-sizing: border-box;
  padding: 9.4rem 16.001rem 5.9rem 16rem;
  width: 144rem;
  height: 41.1rem;
  position: absolute;
  left: 0;
  top: 354.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #140047;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM {
  margin-bottom: 6.1998rem;
  width: 100%;
  height: 3.5002rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .group-18-RyF {
  margin: 0.3rem 19.8rem 0rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .group-18-RyF .group-4-xTP {
  margin-right: 0.5185rem;
  width: 3.3rem;
  height: 2.6334rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .group-18-RyF .vector-geH {
  margin-top: 0.0918rem;
  width: 7.8811rem;
  height: 3.1083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-22-2CM {
  margin: 0.7rem 19.1rem 0.8rem 0rem;
  height: calc(100% - 1.5002rem);
  display: flex;
  column-gap: 5.1rem;
  align-items: center;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-22-2CM .about-us-jsT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-22-2CM .blog-sim {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-22-2CM .terms-conditions-25s {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-22-2CM .privacy-policy-xER {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-21-HGh {
  margin-bottom: 0.3002rem;
  box-sizing: border-box;
  padding: 0.244rem 0.256rem 0.244rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-21-HGh .frame-amb {
  margin-right: 1.9rem;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-21-HGh .group-uYy {
  margin-right: 2.156rem;
  width: 2.7993rem;
  height: 2.7118rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .auto-group-ttlz-hnM .frame-21-HGh .icons8-tiktok-1-EbF {
  width: 2.688rem;
  height: 2.688rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH {
  margin: 0rem 33.599rem 8.5rem 33.7rem;
  width: calc(100% - 67.2993rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH .subscribe-now-Gnq {
  margin-right: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH .auto-group-qsob-cLu {
  box-sizing: border-box;
  padding-left: 2.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH .auto-group-qsob-cLu .your-email-ki1 {
  margin-right: 13.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #7e7e7e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH .auto-group-qsob-cLu .auto-group-e2wp-61B {
  box-sizing: border-box;
  padding: 2rem 2.1rem;
  height: 100%;
  background-color: #fdb600;
  border-radius: 0 1rem 1rem 0;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-19-mLH .auto-group-qsob-cLu .auto-group-e2wp-61B .polygon-1-dG1 {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-16-w1o {
  margin: 0rem 47.799rem 0rem 46.1rem;
  opacity: 0.46;
  width: calc(100% - 93.8993rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-16-w1o .vector-3qX {
  margin: 0.04rem 0.3rem 0rem 0rem;
  width: 1.5rem;
  height: 1.6398rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage2-mQZ .auto-group-8ckw-qVF .group-16-w1o .all-rights-reserved-nHK {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
img {
    max-width: 100%;
    height: auto;
}
/* Default styles for all screens */


