
html {
    font-size:65.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
a {
    text-decoration: none;
}
body {
  width: 67.1rem;
}.rectangle-6-Rgq {
  width: 100%;
  height: 43.2rem;
  background-color: #140047;
}
